* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Roboto", sans-serif;
    

  }

  body{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 6fr;
    font-size: 1rem;
    height: 100vh;
    color: black;
    

  }

  .name{
    font-weight: bold;
  }

 /*SIDEBAR PART*/

  nav{
    background-color: #1e293b;
    grid-column: 1/2;
    grid-row: 1/3;
    font-weight: bold;
    font-size: 1rem;
    padding: 1rem;
    color: #f8fafc;
  }

  .sidebar .logo{
    display: grid;
    grid-auto-flow: column ;
    align-content: center;
    justify-content: start;
    column-gap: 1rem;
    text-align: center;
    padding: 2rem;
 
  }
  .sidebar .main-links li{
    display: grid;
    grid-auto-flow: column ;
    align-content: center;
    justify-content: start;
    column-gap: 1rem;
    text-align: center; 
    padding:1rem;
  }

  .sidebar .secondary-links li{
    display: grid;
    grid-auto-flow: column ;
    align-content: center;
    justify-content: start;
    column-gap: 1rem;
    text-align: center;
    padding:1rem;
  }

  .sidebar .main-links {
    padding-left: 1rem;
    padding-top: 1rem;
  }

  .sidebar .secondary-links {
    padding-left: 1rem;
    padding-top: 1rem;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  




/*HEADER PART*/
header{
    grid-row: 1/2;
    grid-column: 2/3;
    background-color:#fafaf9;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    z-index: 3;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    
   
}

.searchBar{
  display: flex;
  padding: 1rem;
  width: 85%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}



.searchBar input{
  padding: 0.75em 2em;
  margin-left: 1.25rem;
  border-radius: 99em;
  width: 80%;
}

.accountInfo{
  display: grid;
  grid-template-columns: 0.1fr 1.5fr;
 
  padding: 0.75em 2em;
  margin-left: 1.25rem;

}

.accountInfo .profile-info{
  grid-column: 2/3;
  align-self: center;
}

.accountInfo .profile-info .name{
  font-size: 2rem;
}

.accountToolBar{
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  column-gap: 2.5rem;

}

.mediaNav{
  display: flex;
  justify-content: space-evenly;
  padding: 1.5rem 2rem;
  
}

.mediaNav button{
  padding: 0.1em 3rem;
  border-radius: 99em;
  font-weight: bolder;
  color: white;
  background-color: #1e293b;
  
}







/*MAIN PART*/

main{
    grid-column:2/3;
    grid-row: 2/3;
  
    display: grid;
    background-color: #e7e5e4;
    color: black;
    
    grid-template-columns: 2fr 0.8fr ;
    gap: 1rem;
    box-shadow: 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    overflow: auto;
}


/*PROJECT CONTAINER*/

.project-container{
    display: flex;
    flex-direction: column;
    padding: 1rem;   
}

.project-container article{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 250px;
    gap: 1.2rem;
    padding: 1rem;
   
    
}

.project{
    
    display: grid;
    background-color: #fafafa;
    color: black;
    border-radius: 0.7rem;
    justify-content: center;
    align-content: center;
    padding: 2rem;
    border-left: 10px solid #3f3f46;
    
}

.project-tools{
  padding-top: 1rem;
  justify-self: end;
}

.project-tools img{
  padding: 0.5rem;
}






/*ANNOUNCEMENT-ACCOUNT PART*/

.announce-trend{
    grid-row: -2 -1;
    grid-column: 2/3;
    padding: 1rem;
    gap: 1.2rem;
    font-size: 1rem;

    display: flex;
    flex-direction: column;
}

.announcements{
  
    padding: 1rem;
    background-color: #fafafa; 
    border-radius: 0.7rem;
       
    
    
}

.announcement{
  padding: 1rem;
}

.announcement p{
  padding-bottom: 1rem;
}



.accounts{
    padding: 1rem;
    background-color: #fafafa;
    border-radius: 0.7rem;
}

.account{
  display: grid;
  grid-template-columns: 0.15fr 1fr;
  padding: 0.5rem;

}

.account .profile-info{
  grid-column: 2/3;
  align-self: center;
}



